{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row">
    <div class="col-3">
        <img class="img-fluid"
                src="{% static 'img/Author.png' %}" width="200" height="255">
</div>
    <div class="col-9">
<h1>Привет, это автор сайта!</h1>
        <br>
<p style="text-indent: 25px;" align="justify">Меня зовут Левон, я начинающий Python разработчик. А вы сейчас на моём первом сайте!
  Этот проект был разработан в процессе прохождения курса и определённо имеет огромное количестово багов и недоработок.
  Мне было бы приятно, если бы посетители указывали на них в новых постах. Предложения по добавлению нового функционала так же приветствуются!
</p>
    </div>
    </div>
</div>
{% endblock %} 